    //Fonts
$font-family: 'Croissant One', serif;

    //Colors
$white: #fff;
$gray: #525252;
$error: rgb(216, 65, 65);

    //Background
$container-bg: linear-gradient(to right top, #629744, #78903a, #898836, #968137, #a0793d);

    //Main BackGround
$main-bg: linear-gradient(to right top, #629744, #78903a, #898836, #968137, #a0793d);

    //Shadow
$main-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;





